{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">
      <p>
        Hello, World!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">
      <p>
      Os textos aqui disponíveis são para uso pessoal somente. Eles não podem
      ser copiados para outros sites nem distribuídos em qualquer outra forma.
      Os copyrights pertencem aos respectivos autores, salvo menção em
      contrário. Alguns destes textos estão disponíveis apenas no domínio
      <a href="https://impa.br">IMPA</a>.
      </p>
    </div>
  </div>
</div>

{% endblock %}
