{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">
      <p>
        Hello, World!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="ten columns" style="margin-top: 10%">
      <p>

      <table class="table table-striped" style="margin-top: 5%">
        <thead>
          <tr>
            <th scope="col">
              Campus
            </th>
            <th scope="col">
              Discipline
            </th>
            <th scope="col">
              Department
            </th>
            <th scope="col">
              Schedule
            </th>
          </tr>
        </thead>
        <tbody>
          {% for discipline in disciplines %}
          <tr>
            <td>
                {{ discipline.campus }}
            </td>
            <td>
              {{ discipline.discipline }}
            </td>
            <td>
              {{ discipline.department }}
            </td>
            <td>
              {{ discipline.schedule }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </p>
    </div>
  </div>
</div>

{% endblock %}
